.vscode
.idea
hixnav
hixnav.exe
config/config.yaml
web/dist/*
log/*
nohup.out
.DS_Store
.opencode/
opencode.jsonc
data/hixnav.db

# 前端构建产物和依赖
front/node_modules/
front/dist/
dist/index.html
dist/assets/css/about.468badd3.css
dist/assets/css/about.de7b9eb6.css
dist/assets/js/about-legacy.14b5568c.js
dist/assets/js/about-legacy.14b5568c.js.map
dist/assets/js/about-legacy.30432dcb.js
dist/assets/js/about-legacy.30432dcb.js.map
dist/assets/js/about.35a60208.js
dist/assets/js/about.35a60208.js.map
dist/assets/js/about.446778aa.js
dist/assets/js/about.446778aa.js.map
dist/assets/js/app-legacy.3f1a6c53.js
dist/assets/js/app-legacy.3f1a6c53.js.map
dist/assets/js/app-legacy.6eb3a5db.js
dist/assets/js/app-legacy.6eb3a5db.js.map
dist/assets/js/app-legacy.120c0fa5.js
dist/assets/js/app-legacy.120c0fa5.js.map
dist/assets/js/app.ceec71ff.js
dist/assets/js/app.ceec71ff.js.map
dist/assets/js/app.ef6ad7f5.js
dist/assets/js/app.ef6ad7f5.js.map
dist/assets/js/chunk-vendors-legacy.9d5a2070.js
dist/assets/js/chunk-vendors-legacy.9d5a2070.js.map
dist/assets/js/chunk-vendors-legacy.3589e961.js
dist/assets/js/chunk-vendors-legacy.3589e961.js.map
dist/assets/js/chunk-vendors-legacy.d9be774d.js
dist/assets/js/chunk-vendors-legacy.d9be774d.js.map
